POSTGRES_USER=sa
POSTGRES_DB=app
POSTGRES_PASSWORD=example
PGADMIN_DEFAULT_EMAIL=a@a.a
PGADMIN_DEFAULT_PASSWORD=example

SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8081
JWT_COOKIE_NAME=Auth
JWT_LIFETIME=86400
JWT_ISSUER=LKT
JWT_SECRET=a-string-for-testing
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/app
